<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- 
            tengo que escuchar el evento onEnter del componente pais-input
            que emite el termino $event que va a recibir
            la funcion buscar
        -->
        <app-pais-input 
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias( $event )"
            placeholder="Buscar pais..."
            [initialValue]="initialValue"
            >
        </app-pais-input>

    </div>
</div>

<!--sugerencias-->
<ul *ngIf="mostrarSugerencias"
    class="list-group">
    <li *ngFor="let item of paisesSugeridos"
         class="list-group-item list-group-item-action">
        <a class="nav-link" 
           [routerLink]="[ '/pais/', item.cca2 ]">{{item.name.common}}</a>
    </li>
    <li
        class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="buscar( termino )">
           Buscar "{{termino}}"</a>
    </li>
</ul>

<hr>

<!--div *ngIf="termino.length > 0 && (hayError || paisesSugeridos.length <= 0 ||paises.length <= 0)" class="alert alert-danger"-->
    <div *ngIf="termino.length > 0 &&  !isLoading && paisesSugeridos.length <= 0 && (hayError || paises.length <= 0)" class="alert alert-danger">
    No se encontro nada con el termino: {{termino}}
</div>

<div class="row" *ngIf="isLoading">
    <div class="col">
        <pais-spinner></pais-spinner>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!-- 
            tengo que emitir [paisesTabla] con el contenido de "paises"
            para que el componente pais-tabla llene la tabla
        -->
        <app-pais-tabla [paisesTabla]="paises"></app-pais-tabla>
        
    </div>
</div>